@using Accounting.DATA.Entity
@model Expense

@{
    var Safes = ViewBag.Safes as List<Safe>;
    var Banks = ViewBag.Banks as List<Bank>;
    var Safe = Safes.FirstOrDefault(b => b.Id == Model.SafeId);
    var Bank = Banks.FirstOrDefault(b => b.Id == Model.BankId);
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Gelir/Gider Ekle</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
        <div class="card-body">
            <input type="hidden" id="UpdateId" value="@Model.Id" />
            <div class="form-group">
                <label for="Name">İsim</label>
                <input type="text" class="form-control" id="UpdateName" placeholder="İsim Giriniz" value="@Model.Name">
            </div>

            <div class="form-group">
                <label for="BankId">Banks</label>
                <select class="form-control" id="UpdateBankId">
                    <option value="@Bank.Id" selected>@Bank.Name</option>
                    @foreach (var item in Banks)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="SafeId">Safes</label>
                <select class="form-control" id="UpdateSafeId">
                    <option value="@Safe.Id" selected>@Safe.Name</option>
                    @foreach (var item in Safes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="IsPaid">Ödenme Durumu</label>
                <select class="form-control" id="UpdateIsPaid">
                    @if (Model.IsPaid)
                    {
                        <option value="true" selected>Ödendi</option>
                    }
                    else
                    {
                        <option value="false" selected>Ödenecek</option>
                    }
                    <option value="true">Ödendi</option>
                    <option value="false">Ödenecek</option>
                </select>
            </div>

            <div class="form-group">
                <label for="Date">Date</label>
                <input type="datetime-local" class="form-control" id="UpdateDate" placeholder="Date Giriniz" value="@Model.Date">
            </div>

            <div class="form-group">
                <label for="DocNo">DocNo</label>
                <input type="text" class="form-control" id="UpdateDocNo" placeholder="DocNo Giriniz" value="@Model.DocNo">
            </div>

            <div class="form-group">
                <label for="Description">Description</label>
                <input type="text" class="form-control" id="UpdateDescription" placeholder="Description Giriniz" value="@Model.Description">
            </div>

            <div class="form-group">
                <label for="Amount">Amount</label>
                <input type="number" class="form-control" id="UpdateAmount" placeholder="Amount Giriniz" value="@Model.Amount">
            </div>

        </div>
    </form>
</div>